# Ignored files
.env
vendor/
# CodeIgniter 4 Writable Directory
writable/cache/*
!writable/cache/.gitkeep
writable/debugbar/*
!writable/debugbar/.gitkeep
writable/logs/*
!writable/logs/.gitkeep
writable/session/*
!writable/session/.gitkeep
writable/uploads/*
!writable/uploads/.gitkeep
writable/patches/*
!writable/patches/.gitkeep

# Database and Archives
*.sql
*.zip
*.tar.gz

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
